.width-of-admin-prof {
  width: 80px !important;
  height: 80px !important;
  object-fit: cover;
  border-radius: 50%;
}

.hover-color-black:hover {
  color: #191919 !important;
}

.size {
  width: 240px;
  height: 240px;
}

@media (max-width: 768px) {
  .feedback-responsive {
    width: 100% !important;
  }
}
